@import "../index.css";

.login-bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url("../../assets/login-bg.jpg");
  background-size: 120% 120%, cover;
  background-position: 0% 0%, center;
  background-repeat: no-repeat;
  animation: bgMove 20s linear infinite alternate;
}
