@import '../index.css';

.register-bg {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("../../assets/register-bg.jpg");
  background-size: 120% 120%, cover;
  background-position: 0% 0%, center;
  animation: bgMove 20s linear infinite alternate;
}